<launch>
    <!-- launch the gazebo sim using the interbotix launch file -->
    <include file="$(find interbotix_xslocobot_moveit)/launch/xslocobot_moveit.launch">
        <arg name="robot_model"     value="locobot_wx200" />
        <arg name="show_lidar"      value="true" />
        <arg name="use_gazebo"      value="true" />
        <arg name="use_moveit_rviz" value="true" />
    </include>

    <!-- run gmapping node -->
    <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">
        <remap from="scan"          to="locobot/scan" />
        <param name="odom_frame"    value="locobot/odom" />
        <param name="base_frame"    value="locobot/base_link" />
    </node>
</launch>